DirectoryIndex index.php index.html

<FilesMatch "\.pdf$">
    ForceType application/pdf
    Header set Content-Type "application/pdf"
</FilesMatch>

# Izinkan akses ke folder .well-known/acme-challenge untuk SSL verification
RewriteCond %{REQUEST_URI} ^/\.well-known/acme-challenge/ [NC]
RewriteRule ^ - [L]

RewriteEngine On

# Hilangkan .php dari URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ $1.php [L,QSA]
